body{
  background-color:#ddd;
}

div{
  font-size:1.1em;
  font-family:monospace;
  cursor:pointer;
  opacity:1;
}

span.navbar-brand{
  font-size:1.7em;
  font-family:cursive;
  letter-spacing:7px;
}
